body {
  font-family: 'NikoshBAN', sans-serif;
  background-color: #c2b4b4;
  font-size: 20px;
 
}

@font-face {
      font-family: 'NikoshBAN';
      src: url('NikoshBAN.ttf') format('truetype');
    }
    
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  width: 220px;
  font-weight: bold;
}

input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.center {
  text-align: center;
}

button {
  background: rgb(17, 133, 2);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  }

button:hover {
  background: darkgreen;
}

table{
      border: 2px solid;
      border-collapse: collapse;
    }
    table tr th{
      border: 2px solid;
      border-collapse: collapse;
    }
    table tr td{
       border: 2px solid;
      border-collapse: collapse;
    }

